<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:ital@1&display=swap"
        rel="stylesheet">

    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- fontsawesome cdn -->
    <script src="https://kit.fontawesome.com/c035598f8c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/student.css">
<!-- In this page we will show the data of the users who have applied for the leave....this page must be accessible to only mam -->
        <p>Following data is present in database</p>

        <div id="container">
            <ul id="list">
                <% for(let i of student_list){%>
                    <li>
                        <div class="card task-card">
                          
    
                            <div class="card-body task-body">
                                <h5 class="card-title ">
                                  Student Name:  <%= i.name %>
                                  <br>
                                  SID: <%= i.sid %> 
                                </h5>
                                <p class="text-muted">
                                   Reason for Leave: <%= i.longleave_reason %>
                                </p>
                                <p class="text-muted">
                                  Date of leave:  <%= i.start_date %> To <%= i.end_date %> 
                                </p>
                                <p>
                                  Applied for long leave 
                                </p>
                                <div class="action-button-container">
                                    <a href="/admin/longleave/<%=i.sid%>/1">
                                     <button class="btn btn-success btn-sm">
                                         Approve</button>
 
                                    </a> 
                                    <a href="/admin/longleave/<%=i.sid%>/0">
                                     <button class="btn btn-danger btn-sm">
                                          Disapprove 
                                     </button>
 
                                    </a>
                                  </div>
                            </div>
                        
                           
                    </li>
    
                    <%} %>
            </ul>

           
        </div>