<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        <%= title %>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href=""> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>

<body>

    <p>
        <%= user.Student_Name %> 
        <%= user.Student_ID %> 

         
    </p>
    <p>
        <%= locals.user.Student_Name %> 
    </p>

    <div>
        <a href="/Leave/long-leave">
            <button>
                Apply for long leave

            </button>

        </a>

    </div>


    <div>
        <a href="/Leave/late-leave">
            <button>
                Apply for late leave

            </button>

        </a>

    </div>



    <div>
        <a href="/user/sign-out">
            <button>
                Sign-out
            </button>
        </a>
    </div>

    <!-- <script src="" async defer></script> -->
    <script>
    

        <% if (flash.success && flash.success.length > 0) {%>
          new Noty({
            theme: 'relax',
            text: '<%=flash.success%>',
            type: 'success',
            timeout: 1000,
            layout: 'topRight',
        
          }).show();
          <%} %> 
        
          <% if (flash.error && flash.error.length > 0) {%>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1000
                    
                }).show();    
            <%} %>
        
        </script>
</body>

</html>